{% set profit_percentage = ((trade.sell_price - trade.buy_price) / trade.buy_price) * 100 %}
<p class="{% if profit_percentage > 0 %}text-success{% elif profit_percentage < 0 %}text-danger{% else %}text-muted{% endif %} mb-1">
    db_id: {{ trade.id }} {{ trade.bot_settings.symbol }} {{ trade.strategy }}<br>
    buy_timestamp: {{ trade.buy_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}<br>
    sell_timestamp: {{ trade.sell_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}<br>
    buy_price: ${{ '%.2f'|format(trade.buy_price) }} {{ trade.bot_settings.symbol[:-4] }}<br>
    sell_price: ${{ '%.2f'|format(trade.sell_price) }} {{ trade.bot_settings.symbol[:-4] }}<br>
    amount: {{ trade.amount }} {{ trade.bot_settings.symbol[:3] }}<br>
    balance: {{ trade.stablecoin_balance }} USDC<br>
    profit: {{ profit_percentage | round(2) }}%<br>
    stop_loss_activated: {{ trade.stop_loss_activated }}<br>
    stop_loss_price: {{ trade.stop_loss_price }}<br>
    take_profit_activated: {{ trade.take_profit_activated }}<br>
    trailing_take_profit_activated: {{ trade.trailing_take_profit_activated }}<br>
    take_profit_price: {{ trade.take_profit_price }}<br>
    price_rises_counter: {{ trade.price_rises_counter }}</p>
