{% extends 'base_inside.html'%}

{% block content %}

    <div class="col-12 col-md-6 card mt-0 mb-3">
        <div class="card-header text-center bg-light">
            <h5>Trades History</h5>
        </div>

        {% if all_bots %}
        <div class="card-body text-center">
            <div class="accordion" id="botsAccordion">
                {% for bot_info in all_bots %}
                    {% set ns = namespace(total_profit=0) %}
                    {% for trade in bot_info.bot_trades_history %}
                        {% set trade_profit = ((trade.sell_price - trade.buy_price) / trade.buy_price * 100) | round(2) %}
                        {% set ns.total_profit = ns.total_profit + trade_profit %}
                    {% endfor %}
                    {% include 'trades/single_bot_history.html' %}
                {% endfor %}
            </div>
        </div>

        {% else %}        
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                    <p class="mb-1">Nothing here.<br>No bots.<br>Nothing to observe.<br>Boring...<br>Lets do some trades!</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-12 col-md-6 card mb-3">
        <div class="card-header text-center bg-light">
            <h5>Options</h5>
        </div>
        <div class="card-body text-center">
            <div class="d-flex flex-column justify-content-center align-items-center gap-2">      
                <a href="{{ url_for('main.refresh') }}" class="btn btn-primary w-100">Refresh</a>
                {% if user.email_raports_receiver %}
                    <a href="{{ url_for('main.report') }}" class="btn btn-primary w-100">Email Report</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}