{% extends 'base_inside.html'%}

{% block content %}

    <div class="col-12 col-md-6 card mt-0 mb-3">
        <div class="card-header text-center bg-light">
            <h5>Trades History</h5>
        </div>

        {% if all_bots %}
        <div class="card-body text-center">
            <div class="accordion" id="botsAccordion">
                {% for bot_info in all_bots %}
                    {% set capital = 100.0 %}
                    {% for trade in bot_info.bot_trades_history %}
                        {% if trade.buy_price and trade.sell_price and trade.buy_price != 0 %}
                            {% set trade_return = (trade.sell_price - trade.buy_price) / trade.buy_price %}
                            {% set capital = capital * (1 + trade_return) %}
                        {% endif %}
                    {% endfor %}
                    {% set total_profit = (capital - 100) / 100 * 100 %}
                    {% include 'trades/single_bot_history.html' with total_profit=total_profit %}
                {% endfor %}
            </div>
        </div>

        {% else %}        
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                    <p class="mb-1">Nothing here.<br>No bots.<br>Nothing to observe.<br>Boring...<br>Lets do some trades!</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-12 col-md-6 card mb-3">
        <div class="card-header text-center bg-light">
            <h5>Options</h5>
        </div>
        <div class="card-body text-center">
            <div class="d-flex flex-column justify-content-center align-items-center gap-2">      
                <a href="{{ url_for('main.refresh') }}" class="btn btn-primary w-100">Refresh</a>
                {% if user.email_raports_receiver %}
                    <a href="{{ url_for('main.report') }}" class="btn btn-primary w-100">Email Report</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}