<div class="accordion-item">
    <div class="accordion-header d-flex justify-content-center" id="heading{{ backtest.id }}">
        <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ backtest.id }}" aria-expanded="false" aria-controls="collapse{{ backtest.id }}">
            <p class="w-100 text-center m-0 p-0">Backtest {{ backtest.id }} Result</p>
        </button>
    </div>
    <div id="collapse{{ backtest.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ backtest.id }}" data-bs-parent="#botsAccordion">
        <div class="accordion-body">
            <p class="text-muted m-0 p-0">Bot ID: {{ backtest.bot_id }}</p>
            <p class="text-muted m-0 p-0">Symbol: {{ backtest.symbol }}</p>
            <p class="text-muted m-0 p-0">Strategy: {{ backtest.strategy }}</p>
            <p class="text-muted m-0 p-0">Start Date: {{ backtest.start_date }}</p>
            <p class="text-muted m-0 p-0">End Date: {{ backtest.end_date }}</p>
            <p class="text-muted m-0 p-0">Initial Balance: {{ backtest.initial_balance }} USDC</p>
            <p class="text-muted m-0 p-0">Final Balance: {{ backtest.final_balance }} USDC</p>
            <p class="text-muted m-0 p-0">Profit: {{ backtest.profit }} USDC</p>
            <p class="text-muted m-0 p-0">Trades Count: {{ backtest.trade_log|length /2 }}</p>

            <h6 class="mt-3">Trade Log:</h6>
            {% if backtest.trade_log %}
            <ul class="list-group">
                {% for trade in backtest.trade_log %}
                    {% include 'backtest/single_backtest_trade.html' %}
                {% endfor %}
            </ul>
            {% else %}
                <p class="text-muted m-0 p-0">No trades. adjust indicators.</p>
            {% endif %}
        </div>
    </div>
</div>
