{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/swatch/{swatch}/bootstrap.min.css'.format(swatch=config.get('FLASK_ADMIN_SWATCH', 'default')), v='4.2.1') }}"
              rel="stylesheet">
        {% if config.get('FLASK_ADMIN_SWATCH', 'default') == 'default' %}
        <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/css/bootstrap.min.css', v='4.2.1') }}" rel="stylesheet">
        {% endif %}
        <link href="{{ admin_static.url(filename='admin/css/bootstrap4/admin.css', v='1.1.1') }}" rel="stylesheet">
        <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/css/font-awesome.min.css', v='4.7.0') }}" rel="stylesheet">
        {% if admin_view.extra_css %}
          {% for css_url in admin_view.extra_css %}
            <link href="{{ css_url }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
          {% endfor %}
        {% endif %}
        <style>
            .hide {
                display: none;
            }
        </style>
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
  </head>
<body>
{% block page_body %}
    <div class="col-md-6 container{% if config.get('FLASK_ADMIN_FLUID_LAYOUT', False) %}-fluid{% endif %}">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-collapse"
                    aria-controls="admin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Navbar content -->
            <div class="collapse navbar-collapse" id="admin-navbar-collapse">
                {% block brand %}
                <div class="mr-3 d-flex flex-column justify-content-center align-items-center">
                    <p class="text-dark nav navbar-nav navbar-right">{{ admin_view.admin.name }}</p>
                    <p id="server-time" style="display:none;">{{ date_and_time_isoformat }}</p>
                    <p class="text-dark p-0 m-0">
                        <span id="timezone">{{ date_and_time_isoformat }}</span>
                        <span id="clock"></span>
                        <span></span>
                    </p>
                    {% if current_user.is_authenticated %}
                        <p class="text-dark nav navbar-nav navbar-right">Logged in as&nbsp;<a href="/">{{ current_user.login }}</a></p>
                    {% endif %}
                </div>
                {% endblock %}
        
                <!-- Main menu -->
                {% block main_menu %}
                <ul class="nav navbar-nav mr-auto">
                    {{ layout.menu() }}
                </ul>
                {% endblock %}
        
                <!-- Menu links -->
                {% block menu_links %}
                <ul class="nav navbar-nav navbar-right">
                    {{ layout.menu_links() }}
                </ul>
                {% endblock %}
        
                {% block access_control %}{% endblock %}
        
            </div>
        </nav>        

        {% block messages %}
            {{ layout.messages() }}
        {% endblock %}

        {# store the jinja2 context for form_rules rendering logic #}
        {% set render_ctx = h.resolve_ctx() %}

        {% block body %}{% endblock %}

        <div class="w-100 card mb-3">
            <div class="w-100 card-header text-center bg-light">
                <h5>Navigation</h5>
            </div>
            <div class="p-3 card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <a href="/" class="btn btn-primary w-100 mb-2">User Panel</a>
                    {% if user and user.control_panel_access %}
                        <a href="/control" class="btn btn-primary w-100 mb-2">Control Panel</a>
                        <a href="/analysis" class="btn btn-primary w-100 mb-2">Techical Analysis</a>
                        <a href="/backtest" class="btn btn-primary w-100 mb-2">Backtest Panel</a>
                        <a href="/trades" class="btn btn-primary w-100 mb-2">Trades History</a>
                    <a href="{{ url_for('main.logout') }}" class="btn btn-danger w-100">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <footer class="text-center mb-3">
        <p class="text-muted">
            <a href="mailto:StefanCryptoTradingBot@gmail.com">StefanCryptoTradingBot@gmail.com</a>
        </p>
    </footer>
{% endblock %}

{% block tail_js %}
    <script src="{{ admin_static.url(filename='vendor/jquery.min.js', v='3.5.1') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='bootstrap/bootstrap4/js/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='bootstrap/bootstrap4/js/bootstrap.min.js', v='4.2.1') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/moment.min.js', v='2.9.0') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/bootstrap4/util.js', v='4.3.1') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/bootstrap4/dropdown.js', v='4.3.1') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='4.2.1') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/multi-level-dropdowns-bootstrap/bootstrap4-dropdown-ml-hack.js') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='admin/js/helpers.js', v='1.0.0') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
    {% if admin_view.extra_js %}
        {% for js_url in admin_view.extra_js %}
            <script src="{{ js_url }}" type="text/javascript"></script>
        {% endfor %}
    {% endif %}
{% endblock %}

    {% block tail %}
    {% endblock %}
  </body>
</html>