{% extends 'admin/master.html' %}

{% block body %}

<div class="d-flex flex-column justify-content-center align-items-center">
    {% if current_user.is_authenticated %}
        <div class="card mb-3">
            <div class="card-header text-center">
                <h5>Admin Panel</h5>
            </div>
            <div class="card-body text-center">
                <p class='text-muted m-0 p-0'>User: {{ current_user.login }} logged in at {{ current_user.last_login }}</p>
                <p class="text-muted m-0 p-0">System info: {{ system_info }}</p>
                <p class="text-muted m-0 p-0">System uptime: {{ system_uptime }}</p>
                <p class="text-muted m-0 p-0">Python version: {{ python_version }}</p>
                <p class="text-muted m-0 p-0">Flask version: {{ flask_version }}</p>
                <p class="text-muted m-0 p-0">Nginx version: {{ nginx_info }}</p>
                <p class="text-muted m-0 p-0">Gunicorn version: {{ gunicorn_info }}</p>
                <p class="text-muted m-0 p-0">Database dialect: {{ db_engine }}</p>
                <p class="text-muted m-0 p-0">User Agent: {{ user_agent }}</p>
            </div>
        </div>
    {% else %}
        <p class='text-center'>log in to manage settings and db</p>
    {% endif %}
</div>

{% endblock %}
