<div class="accordion-item">
    <div class="accordion-header d-flex justify-content-center" id="heading{{ bot_info.id }}">
        <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ bot_info.id }}" aria-expanded="false" aria-controls="collapse{{ bot_info.id }}">
            <p class="w-100 text-center m-0 p-0">
                {% if bot_info.bot_technical_analysis.gpt_analysis.error %}
                    <span class="w-100 text-center text-danger m-0 p-0">OpenAI API Error - Check Logs</span><br>
                {% endif %}
                Bot {{ bot_info.id }} {{ bot_info.symbol }} {{ bot_info.strategy | upper }}<br><span class="{{ 'text-success' if bot_info.bot_running else 'text-danger' }}">{% if bot_info.bot_running %} Running {% else %} Stopped {% endif %}</span> <span class="{{ 'text-success' if bot_info.bot_current_trade.is_active else 'text-danger' }}">{% if bot_info.bot_current_trade.is_active %} CurrentTradeActive {% else %} NoCurrentTrade {% endif %}</span> Trades: {{ bot_info.bot_trades_history|length }}
            </p>
        </button>
    </div>
    <div id="collapse{{ bot_info.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ bot_info.id }}" data-bs-parent="#botsAccordion">
        <div class="accordion-body">
            <p class="text-muted m-0 p-0">Symbol: {{ bot_info.symbol }}</p>
            <p class="text-muted m-0 p-0">Signals: 
                {% if bot_info.use_machine_learning %}
                    Machine Learning
                {% elif bot_info.use_technical_analysis %}
                    Technical Analysis
                {% elif bot_info.use_gpt_analysis %}
                    GPT Analysis
                {% else %}
                    None
                {% endif %}
            </p>
            <p class="text-muted m-0 p-0">Strategy: {{ bot_info.strategy | upper }}</p>
            <p class="text-muted m-0 p-0">Comment: {{ bot_info.comment }}</p>
            <p class="text-muted m-0 p-0">Interval: {{ bot_info.interval }}</p>
            <p class="text-muted m-0 p-0 border-bottom">Lookback Period: {{ bot_info.lookback_period }}</p>

            {% if bot_info.bot_technical_analysis.gpt_analysis.error %}
                <p class="w-100 text-center text-danger m-0 p-0 border-bottom">OpenAI API Error - Check Logs</p>
            {% endif %}

            {% if bot_info.use_technical_analysis %}

                <p class="text-muted m-0 p-0 border-bottom">
                    Technical Analysis Trade Signals:<br>
                    {% if bot_info.trend_signals %}TREND({{ bot_info.adx_timeperiod }}, avg: {{ bot_info.avg_adx_period }})<br>{% endif %}
                    {% if bot_info.rsi_signals %}RSI({{ bot_info.rsi_timeperiod }}, {{ bot_info.rsi_buy }}/{{ bot_info.rsi_sell }}, avg: {{ bot_info.avg_rsi_period }})<br>{% endif %}
                    {% if bot_info.rsi_divergence_signals %}RSI_DIVERGENCE<br>{% endif %}
                    {% if bot_info.cci_signals %}CCI({{ bot_info.cci_timeperiod }}, {{ bot_info.cci_buy }}/{{ bot_info.cci_sell }}, avg: {{ bot_info.avg_cci_period }})<br>{% endif %}
                    {% if bot_info.cci_divergence_signals %}CCI_DIVERGENCE<br>{% endif %}
                    {% if bot_info.mfi_signals %}MFI({{ bot_info.mfi_timeperiod }}, {{ bot_info.mfi_buy }}/{{ bot_info.mfi_sell }}, avg: {{ bot_info.avg_mfi_period }})<br>{% endif %}
                    {% if bot_info.mfi_divergence_signals %}MFI_DIVERGENCE<br>{% endif %}
                    {% if bot_info.macd_cross_signals %}MACD({{ bot_info.macd_timeperiod }}, {{ bot_info.macd_timeperiod * 2 }}, {{ bot_info.macd_signalperiod }}, avg: {{ bot_info.avg_macd_period }})<br>{% endif %}
                    {% if bot_info.macd_histogram_signals %}MACD_HISTOGRAM({{ bot_info.macd_timeperiod }}, {{ bot_info.macd_timeperiod * 2 }}, {{ bot_info.macd_signalperiod }}, avg: {{ bot_info.avg_macd_period }})<br>{% endif %}
                    {% if bot_info.ema_cross_signals %}EMA({{ bot_info.ema_fast_timeperiod }}, {{ bot_info.ema_slow_timeperiod }}, avg: {{ bot_info.avg_ema_period }})<br>{% endif %}
                    {% if bot_info.ema_slow_signals %}EMA_SLOW({{ bot_info.ema_slow_timeperiod }}, avg: {{ bot_info.avg_ema_period }})<br>{% endif %}
                    {% if bot_info.ema_fast_signals %}EMA_FAST({{ bot_info.ema_fast_timeperiod }}, avg: {{ bot_info.avg_ema_period }})<br>{% endif %}
                    {% if bot_info.bollinger_signals %}BOLLINGER({{ bot_info.bollinger_timeperiod }}, {{ bot_info.bollinger_nbdev }})<br>{% endif %}
                    {% if bot_info.stoch_signals %}STOCHASTIC({{ bot_info.stoch_k_timeperiod }}, {{ bot_info.stoch_d_timeperiod }}, {{ bot_info.stoch_buy }}/{{ bot_info.stoch_sell }}, avg: {{ bot_info.avg_stoch_period }})<br>{% endif %}
                    {% if bot_info.stoch_divergence_signals %}STOCHASTIC_DIVERGENCE<br>{% endif %}
                    {% if bot_info.stoch_rsi_signals %}STOCHASTIC_RSI({{ bot_info.stoch_rsi_timeperiod }}, {{ bot_info.stoch_rsi_k_timeperiod }}, {{ bot_info.stoch_rsi_d_timeperiod }}, avg: {{ bot_info.avg_stoch_rsi_period }})<br>{% endif %}
                    {% if bot_info.ma50_signals %}MA(50)<br>{% endif %}
                    {% if bot_info.ma200_signals %}MA(200)<br>{% endif %}
                    {% if bot_info.ma_cross_signals %}MA_CROSS(50/200)<br>{% endif %}
                    {% if bot_info.psar_signals %}PARABOLIC_SAR({{ bot_info.psar_acceleration }}, {{ bot_info.psar_maximum }}, avg: {{ bot_info.avg_psar_period }})<br>{% endif %}
                    {% if bot_info.vwap_signals %}VWAP (avg: {{ bot_info.avg_vwap_period }})<br>{% endif %}
                    {% if bot_info.atr_signals %}ATR({{ bot_info.atr_timeperiod }}), avg: {{ bot_info.avg_atr_period }}<br>{% endif %}
                    {% if bot_info.di_signals %}DI({{ bot_info.di_timeperiod }}, avg: {{ bot_info.avg_di_period }})<br>{% endif %}
                    {% if bot_info.vol_signals %}VOLUME(avg: {{ bot_info.avg_volume_period }})<br>{% endif %}
                </p>    

            {% endif %}
            
            <p class="text-muted m-0 p-0 border-bottom">Capital utilization: {{ bot_info.capital_utilization_pct }}</p>

            {% for balance in bot_info.balance %}
                {% if balance.asset != 'USDC' %}
                    <p class="text-muted m-0 p-0 border-bottom">Current {{ balance.asset }} Price: {{ balance.price }} USDC</p>
                {% endif %}
            {% endfor %}
            {% for balance in bot_info.balance %}
                {% if loop.index < loop.length - 1 %}
                    {% set next_balance = bot_info.balance[loop.index] %}
                {% else %}
                    {% set next_balance = None %}
                {% endif %}
                {% if loop.index0 > 0 %}
                    {% set previous_balance = bot_info.balance[loop.index0 - 1] %}
                {% else %}
                    {% set previous_balance = None %}
                {% endif %}
                <p class="text-muted m-0 p-0 border-bottom">
                    Balance {{ balance.asset }}: {{ balance.amount }} 
                </p>
            {% endfor %}

            <p class="text-muted m-0 p-0 {{ 'border-bottom' if not bot_info.bot_current_trade.is_active else '' }}">Current Trade Active: <span class="{{ 'text-success' if bot_info.bot_current_trade.is_active else 'text-danger' }}">{{ bot_info.bot_current_trade.is_active }}</span></p>
            {% if bot_info.bot_current_trade.is_active %}
                <p class="text-muted m-0 p-0 border-bottom">buy_timestamp: {{ bot_info.bot_current_trade.buy_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}<br>amount: {{ bot_info.bot_current_trade.amount }}<br>buy_price: {{ bot_info.bot_current_trade.buy_price | round(2) }}<br>current_price: {{ bot_info.bot_current_trade.current_price | round(2) }}<br>stop_loss_price: {{ bot_info.bot_current_trade.stop_loss_price | round(2) }}<br>take_profit_price: {{ bot_info.bot_current_trade.take_profit_price | round(2) }}<br>trailing_take_profit_activated: {{ bot_info.bot_current_trade.trailing_take_profit_activated }}<br>price_rises_counter: {{ bot_info.bot_current_trade.price_rises_counter }}</p>
            {% endif %}

            <p class="text-muted m-0 p-0 {{ 'border-bottom' if not bot_info.use_suspension_after_negative_trade }}">Suspend after negative trade: <span class="{{ 'text-danger' if bot_info.use_suspension_after_negative_trade else 'text-muted' }}">{{ bot_info.use_suspension_after_negative_trade }}</span></p>
            {% if bot_info.use_suspension_after_negative_trade %}
                <p class="text-muted m-0 p-0">is_suspended_after_negative_trade: <span class="{{ 'text-danger' if bot_info.is_suspended_after_negative_trade else 'text-success' }}">{{ bot_info.is_suspended_after_negative_trade }}</span></p>
                <p class="text-muted m-0 p-0">cycles_of_suspension_after_negative_trade: {{ bot_info.cycles_of_suspension_after_negative_trade }}</p>
                {% if bot_info.is_suspended_after_negative_trade %}
                    <p class="text-muted m-0 p-0 border-bottom">suspension_cycles_remaining: {{ bot_info.suspension_cycles_remaining }}</p>
                {% endif %}
            {% endif %}

            <p class="text-muted m-0 p-0">Bot Running: <span class="{{ 'text-success' if bot_info.bot_running else 'text-danger' }}">{{ bot_info.bot_running }}</span></p>
            <p class="text-muted m-0 p-0">Trades Count: {{ bot_info.bot_trades_history|length }}</p>
            <p class="text-muted m-0 p-0">Days to clean history: {{ bot_info.days_period_to_clean_history }}</p>

            <div class="accordion mt-2 w-100" id="settingsAccordion{{ bot_info.id }}-0">
                <div class="accordion-item w-100">
                    <div class="accordion-header w-100 d-flex justify-content-center" id="heading{{ bot_info.id }}-0">
                        <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-settings-{{ bot_info.id }}-0" aria-expanded="false" aria-controls="collapse-settings-{{ bot_info.id }}-0">
                            <p class="w-100 text-muted text-center m-0 p-0">Stop Loss & Take Profit Settings</p>
                        </button>
                    </div>
                    <div id="collapse-settings-{{ bot_info.id }}-0" class="accordion-collapse collapse" aria-labelledby="heading-settings-{{ bot_info.id }}-0">
                        <div class="accordion-body">
                            <p class="text-muted m-0 p-0">Stop Loss Enabled: <span class="{{ 'text-success' if bot_info.use_stop_loss else 'text-danger' }}">{{ bot_info.use_stop_loss }}</span></p>
                            <p class="text-muted m-0 p-0">Trailing Stop Loss Enabled: <span class="{{ 'text-success' if bot_info.use_trailing_stop_loss else 'text-muted' }}">{{ bot_info.use_trailing_stop_loss }}</span></p>
                            <p class="text-muted m-0 p-0">Stop Loss pct: {{ bot_info.stop_loss_pct }}%</p>
                            <p class="text-muted m-0 p-0">ATR Trailing Stop Loss: <span class="{{ 'text-success' if bot_info.trailing_stop_with_atr else 'text-muted' }}">{{ bot_info.trailing_stop_with_atr }}</span></p>
                            <p class="text-muted m-0 p-0 border-bottom">ATR Trailing Stop Multiplicator: {{ bot_info.trailing_stop_atr_calc }}</p>

                            <p class="text-muted m-0 p-0">Take Profit Enabled: <span class="{{ 'text-success' if bot_info.use_take_profit else 'text-muted' }}">{{ bot_info.use_take_profit }}</span></p>
                            <p class="text-muted m-0 p-0">Trailing Take Profit Enabled: <span class="{{ 'text-success' if bot_info.use_trailing_take_profit else 'text-muted' }}">{{ bot_info.use_trailing_take_profit }}</span></p>
                            <p class="text-muted m-0 p-0">Take Profit pct: {{ bot_info.take_profit_pct }}%</p>
                            <p class="text-muted m-0 p-0">ATR Take Profit: <span class="{{ 'text-success' if bot_info.take_profit_with_atr else 'text-muted' }}">{{ bot_info.take_profit_with_atr }}</span></p>
                            <p class="text-muted m-0 p-0 border-bottom">ATR Take Profit Multiplicator: {{ bot_info.take_profit_atr_calc }}</p>

                            <p class="text-muted m-0 p-0">Sell signal only SL / TP: {{ bot_info.sell_signal_only_stop_loss_or_take_profit }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% if bot_info.use_machine_learning %}

            <div class="accordion mt-2 w-100" id="mlAccordion{{ bot_info.id }}-2">
                <div class="accordion-item w-100">
                    <div class="accordion-header w-100 d-flex justify-content-center" id="heading{{ bot_info.id }}-2">
                        <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ml-{{ bot_info.id }}-2" aria-expanded="false" aria-controls="collapse-ml-{{ bot_info.id }}-2">
                            <p class="w-100 text-muted text-center m-0 p-0">Machine Learning Settings</p>
                        </button>
                    </div>
                    <div id="collapse-ml-{{ bot_info.id }}-2" class="accordion-collapse collapse" aria-labelledby="heading-ml-{{ bot_info.id }}-2">
                        <div class="accordion-body">
                            <p class="text-muted m-0 p-0 border-bottom">Machine Learning Trade Signals:</p>
                            <p class="text-muted m-0 p-0 border-bottom">General Timeperiod: {{ bot_info.ml_general_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">MACD Timeperiod: {{ bot_info.ml_macd_timeperiod }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">MACD signal Timeperiod: {{ bot_info.ml_macd_signal_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">Bollinger Timeperiod: {{ bot_info.ml_bollinger_timeperiod }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">Bollinger nbdev: {{ bot_info.ml_bollinger_nbdev }}</p>
                            <p class="text-muted m-0 p-0">EMA Fast Timeperiod: {{ bot_info.ml_ema_fast_timeperiod }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">EMA Slow Timeperiod: {{ bot_info.ml_ema_slow_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">RSI buy value: {{ bot_info.ml_rsi_buy }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">RSI sell value: {{ bot_info.ml_rsi_sell }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">Lag Calc Period: {{ bot_info.ml_lag_period }}</p>

                            <p class="text-muted m-0 p-0">Use RandomForest: <span class="{{ 'text-success' if bot_info.ml_use_random_forest_model else 'text-muted' }}">{{ bot_info.ml_use_random_forest_model }}</span></p>
                            <p class="text-muted m-0 p-0">Use XGBRegressor: <span class="{{ 'text-success' if bot_info.ml_use_xgboost_model else 'text-muted' }}">{{ bot_info.ml_use_xgboost_model }}</span></p>
                            <p class="text-muted m-0 p-0 border-bottom">Use LSTM: <span class="{{ 'text-success' if bot_info.ml_use_lstm_model else 'text-muted' }}">{{ bot_info.ml_use_lstm_model }}</span></p>
                            
                            {% if bot_info.ml_use_random_forest_model %}
                                <p class="text-muted m-0 p-0">Avg Last Predictions: {{ bot_info.ml_random_forest_predictions_avg}}</p>
                                <p class="text-muted m-0 p-0">Model Filename: {{ bot_info.ml_random_forest_model_filename }}</p>
                                <p class="text-muted m-0 p-0">Buy Trigger pct: {{ bot_info.ml_random_forest_buy_trigger_pct }}</p>
                                <p class="text-muted m-0 p-0">Sell Trigger pct: {{ bot_info.ml_random_forest_sell_trigger_pct }}</p>
                            {% endif %}

                            {% if bot_info.ml_use_xgboost_model %}
                                <p class="text-muted m-0 p-0">Avg Last Predictions: {{ bot_info.ml_xgboost_predictions_avg }}</p>
                                <p class="text-muted m-0 p-0">Model Filename: {{ bot_info.ml_xgboost_model_filename }}</p>
                                <p class="text-muted m-0 p-0">Buy Trigger pct: {{ bot_info.ml_xgboost_buy_trigger_pct }}</p>
                                <p class="text-muted m-0 p-0">Sell Trigger pct: {{ bot_info.ml_xgboost_sell_trigger_pct }}</p>
                            {% endif %}

                            {% if bot_info.ml_use_lstm_model %}
                                <p class="text-muted m-0 p-0">Window Size: {{ bot_info.ml_lstm_window_size }}</p>
                                <p class="text-muted m-0 p-0">Window Loopback: {{ bot_info.ml_lstm_window_lookback }}</p>
                                <p class="text-muted m-0 p-0">Avg Last Predictions: {{ bot_info.ml_lstm_predictions_avg }}</p>
                                <p class="text-muted m-0 p-0">Model Filename: {{ bot_info.ml_lstm_model_filename }}</p>
                                <p class="text-muted m-0 p-0">Buy Trigger pct: {{ bot_info.ml_lstm_buy_trigger_pct }}</p>
                                <p class="text-muted m-0 p-0">Sell Trigger pct: {{ bot_info.ml_lstm_sell_trigger_pct }}</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

            {% if bot_info.use_technical_analysis %}

            <div class="accordion mt-2 w-100" id="taAccordion{{ bot_info.id }}-1">
                <div class="accordion-item w-100">
                    <div class="accordion-header w-100 d-flex justify-content-center" id="heading{{ bot_info.id }}-1">
                        <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ta-{{ bot_info.id }}-1" aria-expanded="false" aria-controls="collapse-ta-{{ bot_info.id }}-1">
                            <p class="w-100 text-muted text-center m-0 p-0">Technical Analysis Settings</p>
                        </button>
                    </div>
                    <div id="collapse-ta-{{ bot_info.id }}-1" class="accordion-collapse collapse" aria-labelledby="heading-ta-{{ bot_info.id }}-1">
                        <div class="accordion-body">
                            <p class="text-muted m-0 p-0">General Time Period: {{ bot_info.general_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">DI Time Period: {{ bot_info.di_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">ADX Time Period: {{ bot_info.adx_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">RSI Time Period: {{ bot_info.rsi_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">ATR Time Period: {{ bot_info.atr_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">CCI Time Period: {{ bot_info.cci_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">MFI Time Period: {{ bot_info.mfi_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">MACD Time Period: {{ bot_info.macd_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">MACD Signal Time Period: {{ bot_info.macd_signalperiod }}</p>
                            <p class="text-muted m-0 p-0">Bollinger Time Period: {{ bot_info.bollinger_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">Bollinger nbdev Time Period: {{ bot_info.bollinger_nbdev }}</p>
                            <p class="text-muted m-0 p-0">Stochastic K Time Period: {{ bot_info.stoch_k_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">Stochastic D Time Period: {{ bot_info.stoch_d_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">Stochastic RSI Time Period: {{ bot_info.stoch_rsi_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">Stochastic RSI K Time Period: {{ bot_info.stoch_rsi_k_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">Stochastic RSI D Time Period: {{ bot_info.stoch_rsi_d_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">EMA Fast Time Period: {{ bot_info.ema_fast_timeperiod }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">EMA Slow Time Period: {{ bot_info.ema_slow_timeperiod }}</p>
                            <p class="text-muted m-0 p-0">Parabolic SAR Acceleration: {{ bot_info.psar_acceleration }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">Parabolic SAR Maximum: {{ bot_info.psar_maximum }}</p>

                            <p class="text-muted m-0 p-0">CCI Settings: buy {{ bot_info.cci_buy }} / sell {{ bot_info.cci_sell }}</p>
                            <p class="text-muted m-0 p-0">RSI Settings: buy {{ bot_info.rsi_buy }} / sell {{ bot_info.rsi_sell }}</p>
                            <p class="text-muted m-0 p-0">MFI Settings: buy {{ bot_info.mfi_buy }} / sell {{ bot_info.mfi_sell }}</p>
                            <p class="text-muted m-0 p-0">Stochastic: buy {{ bot_info.stoch_buy }} / sell {{ bot_info.stoch_sell }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">ATR buy treshold: {{ bot_info.atr_buy_treshold }}</p>
                            
                            <p class="text-muted m-0 p-0">Avg Volume Period: {{ bot_info.avg_volume_period }}</p>
                            <p class="text-muted m-0 p-0">Avg Close Period: {{ bot_info.avg_close_period }}</p>
                            <p class="text-muted m-0 p-0">Avg RSI Period: {{ bot_info.avg_rsi_period }}</p>
                            <p class="text-muted m-0 p-0">Avg CCI Period: {{ bot_info.avg_cci_period }}</p>
                            <p class="text-muted m-0 p-0">Avg MFI Period: {{ bot_info.avg_mfi_period }}</p>
                            <p class="text-muted m-0 p-0">Avg Stoch Period: {{ bot_info.avg_stoch_period }}</p>
                            <p class="text-muted m-0 p-0">Avg StochRSI Period: {{ bot_info.avg_stoch_rsi_period }}</p>
                            <p class="text-muted m-0 p-0">Avg MACD Period: {{ bot_info.avg_macd_period }}</p>
                            <p class="text-muted m-0 p-0">Avg EMA Period: {{ bot_info.avg_ema_period }}</p>
                            <p class="text-muted m-0 p-0">Avg ADX Period: {{ bot_info.avg_adx_period }}</p>
                            <p class="text-muted m-0 p-0">Avg ATR Period: {{ bot_info.avg_atr_period }}</p>
                            <p class="text-muted m-0 p-0">Avg PSAR Period: {{ bot_info.avg_psar_period }}</p>
                            <p class="text-muted m-0 p-0">Avg VWAP Period: {{ bot_info.avg_vwap_period }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">Avg DI Period: {{ bot_info.avg_di_period }}</p>

                            <p class="text-muted m-0 p-0">ADX Strong Trend: {{ bot_info.adx_strong_trend }}</p>
                            <p class="text-muted m-0 p-0">ADX Weak Trend: {{ bot_info.adx_weak_trend }}</p>
                            <p class="text-muted m-0 p-0">ADX No Trend: {{ bot_info.adx_no_trend }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

            {% if bot_info.use_gpt_analysis %}

            <div class="accordion mt-2 w-100" id="aiAccordion{{ bot_info.id }}-0">
                <div class="accordion-item w-100">
                    <div class="accordion-header w-100 d-flex justify-content-center" id="heading{{ bot_info.id }}-0">
                        <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ai-{{ bot_info.id }}-0" aria-expanded="false" aria-controls="collapse-ai-{{ bot_info.id }}-0">
                            <p class="w-100 text-muted text-center m-0 p-0">AI GPT Settings</p>
                        </button>
                    </div>
                    <div id="collapse-ai-{{ bot_info.id }}-0" class="accordion-collapse collapse" aria-labelledby="heading-ai-{{ bot_info.id }}-0">
                        <div class="accordion-body">
                            <p class="text-muted m-0 p-0">Use GPT Analysis: <span class="{{ 'text-success' if bot_info.use_gpt_analysis else 'text-danger' }}">{{ bot_info.use_gpt_analysis }}</span></p>
                            <p class="text-muted m-0 p-0">GPT Model: {{ bot_info.gpt_model }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">GPT Response Error: <span class="{{ 'text-danger' if bot_info.bot_technical_analysis.gpt_analysis.error else 'text-success' }}">{{ bot_info.bot_technical_analysis.gpt_analysis.error }}</span></p>
                            <p class="text-muted m-0 p-0">gpt_prompt_with_news: <span class="{{ 'text-success' if bot_info.gpt_prompt_with_news else 'text-muted' }}">{{ bot_info.gpt_prompt_with_news }}</span></p>
                            <p class="text-muted m-0 p-0">len(news_sources): {{ bot_info.news_sources|length }}</p>
                            <p class="text-muted m-0 p-0">news_limit_per_source: {{ bot_info.news_limit_per_source }}</p>
                            <p class="text-muted m-0 p-0 border-bottom">news_total_limit: {{ bot_info.news_total_limit }}</p>
                            <p class="text-muted m-0 p-0">gpt_prompt_with_last_trades: <span class="{{ 'text-success' if bot_info.gpt_prompt_with_last_trades else 'text-muted' }}">{{ bot_info.gpt_prompt_with_last_trades }}</span></p>
                            <p class="text-muted m-0 p-0">last_trades_limit: {{ bot_info.last_trades_limit }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            
            <div class="mt-2 d-flex flex-column justify-content-center align-items-center gap-2">
                {% if bot_info.bot_running %}
                    <a href="" class="btn btn-light w-100">Bot is running</a>
                    <a href="{{ url_for('main.stop_bot', bot_id=bot_info.id) }}" class="btn btn-danger w-100">{% if bot_info.bot_current_trade.is_active %}Finalize Trade and {% endif %}Stop Bot {{bot_info.id}}</a>
                {% else %}
                    <a href="{{ url_for('main.start_bot', bot_id=bot_info.id) }}" class="btn btn-success w-100">Start Bot {{bot_info.id}}</a>
                    <a href="" class="btn btn-light w-100">Bot is stopped</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
