<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StefanCryptoTradingBot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center mt-3">

        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-3" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <h4 class="col-md-6 card-header text-center">StefanCryptoTradingBot</h4>
        <p class="text-muted text-center m-0 p-0">current time: {{ date_and_time }}</p>

        {% if current_user.is_authenticated %}
            <p class="text-center text-muted m-0 p-0">{{ current_user.login }} logged in at {{ current_user.last_login }}</p>
        {% endif %}

        <div class="col-12 col-md-6 card mt-3 mb-3">
            <div class="card-header text-center bg-light">
                <h5>Technical Analysis Panel</h5>
            </div>
            {% if all_bots_info %}
            <div class="card-body text-center">
                <div class="accordion" id="botsAccordion">
                    {% for bot_info in all_bots_info %}
                    <div class="accordion-item">
                        <div class="accordion-header d-flex justify-content-center" id="heading{{ bot_info.id }}">
                            <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ bot_info.id }}" aria-expanded="false" aria-controls="collapse{{ bot_info.id }}">
                                <p class="w-100 text-center m-0 p-0">Bot {{ bot_info.id }} {{ bot_info.symbol }} {{ bot_info.strategy | upper }}<br><span class="{{ 'text-success' if bot_info.bot_running else 'text-danger' }}">{% if bot_info.bot_running %} Running {% else %} Stopped {% endif %}</span> <span class="{{ 'text-success' if bot_info.bot_current_trade.is_active else 'text-danger' }}">{% if bot_info.bot_current_trade.is_active %} CurrentTradeActive {% else %} NoCurrentTrade {% endif %}</span> {% if bot_info.bot_running %}Live{% else %}Arch{% endif %} Data</p>
                            </button>
                        </div>

                        <div id="collapse{{ bot_info.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ bot_info.id }}" data-bs-parent="#botsAccordion">
                            <div class="accordion-body">

                                {% if bot_info.bot_running %}
                                    <p class="text-success m-0 p-0 border-bottom">Bot Running. Actual data.</p>
                                {% else %}
                                    <p class="text-danger m-0 p-0 border-bottom">Bot Stopped. Historical data.<br>Start bot to see updated values.</p>
                                {% endif %}

                                <p class="text-muted m-0 p-0">Symbol: {{ bot_info.symbol }}</p>
                                <p class="text-muted m-0 p-0">Strategy: {{ bot_info.strategy | upper }}</p>
                                <p class="text-muted m-0 p-0">Comment: {{ bot_info.comment }}</p>
                                <p class="text-muted m-0 p-0">Interval: {{ bot_info.interval }}</p>
                                <p class="text-muted m-0 p-0 border-bottom">Lookback Period: {{ bot_info.lookback_period }}</p>

                                {% if bot_info.plot_url %}
                                    <img src="data:image/png;base64,{{ bot_info.plot_url }}" alt="Technical Analysis Plot" style="max-width: 100%; height: auto; max-height: 500px;">
                                {% else %}
                                    <p>No data available for {{ bot_info.symbol }} Technical Analysis Plot.</p>
                                {% endif %}
                                
                                <form method="POST" action="{{ url_for('main.analysis_panel_view') }}" class="border-bottom p-0">
                                    <input type="hidden" name="bot_id" value="{{ bot_info.id }}">
                                    
                                    <p class="text-muted m-0 p-0">Select Plot Indicators:</p>
                                    
                                    <div class="grid-container">
                                        {% for indicator in ['close', 'rsi', 'cci', 'mfi', 'macd', 'ema', 'boil', 'stoch', 'st_rsi', 'ma50', 'ma200', 'adx', 'atr', 'psar', 'vwap', 'di'] %}
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="indicators" value="{{ indicator }}" style="display: none;" 
                                            {% if indicator in bot_info.selected_plot_indicators %}checked{% endif %} 
                                            id="indicator_{{ bot_info.id }}_{{ indicator }}">
                                            <label class="form-check-label indicator-label" for="indicator_{{ bot_info.id }}_{{ indicator }}">
                                                {{ indicator | capitalize }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                
                                    <div class="text-center w-100 m-0 p-0 mt-1 mb-2">
                                        <button type="submit" class="btn btn-primary w-100">Update Plot</button>
                                    </div>
                                </form>                                                                    
                                
                                <p class="text-muted m-0 p-0 border-bottom">Last updated: {{ bot_info.bot_technical_analysis.last_updated_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>

                                <p class="text-muted m-0 p-0">Trend:</p>
                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_trend == 'uptrend' %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_trend == 'downtrend' %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">
                                    current_trend({{ bot_info.avg_adx_period }}): {{ bot_info.bot_technical_analysis.current_trend }}
                                </p>
                            
                                <p class="text-muted m-0 p-0">Close Price:</p>
                                {% if bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-success m-0 p-0">close > avg_close</p>
                                {% elif bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-danger m-0 p-0">close < avg_close</p>
                                {% endif %}
                                
                                <p class="text-muted m-0 p-0">close: {{ bot_info.bot_technical_analysis.current_close | round(2) }}</p>
                                <p class="text-muted m-0 p-0 border-bottom">avg_close({{ bot_info.avg_close_period }}): {{ bot_info.bot_technical_analysis.avg_close | round(2) }}</p>
                            
                                <p class="text-muted m-0 p-0">High Price:</p>
                                <p class="text-muted m-0 p-0 border-bottom">high: {{ bot_info.bot_technical_analysis.current_high }}</p>
                                
                                <p class="text-muted m-0 p-0">Low Price:</p>
                                <p class="text-muted m-0 p-0 border-bottom">low: {{ bot_info.bot_technical_analysis.current_low }}</p>

                                <p class="text-muted m-0 p-0">Volume:</p>
                                {% if bot_info.bot_technical_analysis.current_volume > bot_info.bot_technical_analysis.avg_volume %}
                                    <p class="text-success m-0 p-0">volume > avg_volume</p>
                                {% elif bot_info.bot_technical_analysis.current_volume < bot_info.bot_technical_analysis.avg_volume %}
                                    <p class="text-danger m-0 p-0">volume < avg_volume</p>
                                {% endif %}

                                <p class="text-muted m-0 p-0">volume: {{ bot_info.bot_technical_analysis.current_volume | round(2) }}</p>
                                <p class="text-muted m-0 p-0 border-bottom">avg_volume({{ bot_info.avg_volume_period }}): {{ bot_info.bot_technical_analysis.avg_volume | round(2) }}</p>
                                
                                <p class="text-muted m-0 p-0">RSI Relative Strength Index</p>
                                {% if bot_info.bot_technical_analysis.current_rsi > bot_info.bot_technical_analysis.avg_rsi %}
                                    <p class="text-success m-0 p-0">rsi > avg_rsi</p>
                                {% elif bot_info.bot_technical_analysis.current_rsi < bot_info.bot_technical_analysis.avg_rsi %}
                                    <p class="text-danger m-0 p-0">rsi < avg_rsi</p>
                                {% endif %}

                                {% if bot_info.bot_technical_analysis.current_rsi > bot_info.bot_technical_analysis.avg_rsi and bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-success m-0 p-0">rsi and close positive divergention</p>
                                {% elif bot_info.bot_technical_analysis.current_rsi < bot_info.bot_technical_analysis.avg_rsi and bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-danger m-0 p-0">rsi and close negative divergention</p>
                                {% endif %}

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_rsi < bot_info.rsi_buy %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_rsi > bot_info.rsi_sell %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">rsi({{ bot_info.rsi_timeperiod }}, {{ bot_info.rsi_buy }}/{{ bot_info.rsi_sell }}): {{ bot_info.bot_technical_analysis.current_rsi | round(2) }}</p>
                                
                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.avg_rsi < bot_info.rsi_buy %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_rsi > bot_info.rsi_sell %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_rsi({{ bot_info.avg_rsi_period }}): {{ bot_info.bot_technical_analysis.avg_rsi | round(2) }}</p>

                                <p class="text-muted m-0 p-0">CCI Commodity Channel Index:</p>
                                {% if bot_info.bot_technical_analysis.current_cci > bot_info.bot_technical_analysis.avg_cci %}
                                    <p class="text-success m-0 p-0">cci > avg_cci</p>
                                {% elif bot_info.bot_technical_analysis.current_cci < bot_info.bot_technical_analysis.avg_cci %}
                                    <p class="text-danger m-0 p-0">cci < avg_cci</p>
                                {% endif %}

                                {% if bot_info.bot_technical_analysis.current_cci > bot_info.bot_technical_analysis.avg_cci and bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-success m-0 p-0">cci and close positive divergention</p>
                                {% elif bot_info.bot_technical_analysis.current_cci < bot_info.bot_technical_analysis.avg_cci and bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-danger m-0 p-0">cci and close negative divergention</p>
                                {% endif %}

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_cci < bot_info.cci_buy %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_cci > bot_info.cci_sell %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">cci({{ bot_info.cci_timeperiod }}, {{ bot_info.cci_buy }}/{{ bot_info.cci_sell }}): {{ bot_info.bot_technical_analysis.current_cci | round(2) }}</p>

                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.avg_cci < bot_info.cci_buy %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_cci > bot_info.cci_sell %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_cci({{ bot_info.avg_cci_period }}): {{ bot_info.bot_technical_analysis.avg_cci | round(2) }}</p>

                                <p class="text-muted m-0 p-0">MFI Money Flow Index:</p>
                                {% if bot_info.bot_technical_analysis.current_mfi > bot_info.bot_technical_analysis.avg_mfi %}
                                    <p class="text-success m-0 p-0">mfi > avg_mfi</p>
                                {% elif bot_info.bot_technical_analysis.current_mfi < bot_info.bot_technical_analysis.avg_mfi %}
                                    <p class="text-danger m-0 p-0">mfi < avg_mfi</p>
                                {% endif %}

                                {% if bot_info.bot_technical_analysis.current_mfi > bot_info.bot_technical_analysis.avg_mfi and bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-success m-0 p-0">mfi and close positive divergention</p>
                                {% elif bot_info.bot_technical_analysis.current_mfi < bot_info.bot_technical_analysis.avg_mfi and bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-danger m-0 p-0">mfi and close negative divergention</p>
                                {% endif %}

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_mfi < bot_info.mfi_buy %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_mfi > bot_info.mfi_sell %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">mfi({{ bot_info.mfi_timeperiod }}, {{ bot_info.mfi_buy }}/{{ bot_info.mfi_sell }}): {{ bot_info.bot_technical_analysis.current_mfi | round(2) }}</p>

                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.avg_mfi < bot_info.mfi_buy %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_mfi > bot_info.mfi_sell %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_mfi({{ bot_info.avg_mfi_period }}): {{ bot_info.bot_technical_analysis.avg_mfi | round(2) }}</p>

                                <p class="text-muted m-0 p-0">EMA Exponential Moving Average:</p>
                                {% if bot_info.bot_technical_analysis.current_ema_fast > bot_info.bot_technical_analysis.avg_ema_fast %}
                                    <p class="text-success m-0 p-0">ema_fast > avg_ema_fast</p>
                                {% elif bot_info.bot_technical_analysis.current_ema_fast < bot_info.bot_technical_analysis.avg_ema_fast %}
                                    <p class="text-danger m-0 p-0">ema_fast < avg_ema_fast</p>
                                {% endif %}

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_ema_fast < bot_info.bot_technical_analysis.current_close %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_ema_fast > bot_info.bot_technical_analysis.current_close %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">ema_fast({{ bot_info.ema_fast_timeperiod }}): {{ bot_info.bot_technical_analysis.current_ema_fast | round(2) }}</p>
                                
                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.avg_ema_fast < bot_info.bot_technical_analysis.current_close %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_ema_fast > bot_info.bot_technical_analysis.current_close %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_ema_fast({{ bot_info.avg_ema_period }}): {{ bot_info.bot_technical_analysis.avg_ema_fast | round(2) }}</p>

                                {% if bot_info.bot_technical_analysis.current_ema_slow > bot_info.bot_technical_analysis.avg_ema_slow %}
                                    <p class="text-success m-0 p-0">ema_slow > avg_ema_slow</p>
                                {% elif bot_info.bot_technical_analysis.current_ema_slow < bot_info.bot_technical_analysis.avg_ema_slow %}
                                    <p class="text-danger m-0 p-0">ema_slow < avg_ema_slow</p>
                                {% endif %}

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_ema_slow < bot_info.bot_technical_analysis.current_close %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_ema_slow > bot_info.bot_technical_analysis.current_close %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">ema_slow({{ bot_info.ema_slow_timeperiod }}): {{ bot_info.bot_technical_analysis.current_ema_slow | round(2) }}</p>

                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.avg_ema_slow < bot_info.bot_technical_analysis.current_close %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_ema_slow > bot_info.bot_technical_analysis.current_close %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_ema_slow({{ bot_info.avg_ema_period }}): {{ bot_info.bot_technical_analysis.avg_ema_slow | round(2) }}</p>

                                {% if bot_info.bot_technical_analysis.avg_ema_fast < bot_info.bot_technical_analysis.avg_ema_slow and bot_info.bot_technical_analysis.current_ema_fast > bot_info.bot_technical_analysis.current_ema_slow %}
                                    <p class="text-success m-0 p-0 border-bottom">ema_slow and ema_fast positive cross</p>
                                {% elif bot_info.bot_technical_analysis.avg_ema_fast > bot_info.bot_technical_analysis.avg_ema_slow and bot_info.bot_technical_analysis.current_ema_fast < bot_info.bot_technical_analysis.current_ema_slow %}
                                    <p class="text-danger m-0 p-0 border-bottom">ema_slow and ema_fast negative cross</p>
                                {% endif %}

                                <p class="text-muted m-0 p-0">MACD Moving Average Convergence Divergence:</p>
                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_macd > bot_info.bot_technical_analysis.current_macd_signal %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_macd < bot_info.bot_technical_analysis.current_macd_signal %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">macd({{ bot_info.macd_timeperiod }}, {{ bot_info.macd_timeperiod * 2 }}, {{ bot_info.macd_signalperiod }}): {{ bot_info.bot_technical_analysis.current_macd | round(2) }}<br>macd_signal({{ bot_info.macd_signalperiod }}): {{ bot_info.bot_technical_analysis.current_macd_signal | round(2)}}</p>
                                
                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.avg_macd > bot_info.bot_technical_analysis.avg_macd_signal %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_macd < bot_info.bot_technical_analysis.avg_macd_signal %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_macd({{ bot_info.avg_macd_period }}): {{ bot_info.bot_technical_analysis.avg_macd | round(2) }}<br>avg_macd_signal({{ bot_info.avg_macd_period }}, ): {{ bot_info.bot_technical_analysis.avg_macd_signal | round(2) }}</p>

                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_macd_histogram > 0 %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_macd_histogram < 0 %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">macd_histogram: {{ bot_info.bot_technical_analysis.current_macd_histogram | round(2) }}</p>

                                {% if bot_info.bot_technical_analysis.avg_macd < bot_info.bot_technical_analysis.avg_macd_signal and bot_info.bot_technical_analysis.current_macd > bot_info.bot_technical_analysis.current_macd_signal %}
                                    <p class="text-success m-0 p-0 border-bottom">macd and macd_signal positive cross</p>
                                {% elif bot_info.bot_technical_analysis.avg_macd > bot_info.bot_technical_analysis.avg_macd_signal and bot_info.bot_technical_analysis.current_macd < bot_info.bot_technical_analysis.current_macd_signal %}
                                    <p class="text-danger m-0 p-0 border-bottom">macd and macd_signal negative cross</p>
                                {% endif %}

                                {% if bot_info.ma50_signals or bot_info.ma200_signals %}
                                <p class="text-muted m-0 p-0">MA Moving Averages:</p>
                                {% endif %}
                                {% if bot_info.ma50_signals %}
                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.current_ma_50 %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.current_ma_50 %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">ma_50: {{ bot_info.bot_technical_analysis.current_ma_50 | round(2) }}</p>
                                {% endif %}

                                {% if bot_info.ma200_signals %}
                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.current_ma_200 %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.current_ma_200 %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">ma_200: {{ bot_info.bot_technical_analysis.current_ma_200 | round(2) }}</p>
                                {% endif %}

                                <p class="text-muted m-0 p-0">Boilinger Bands:</p>
                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.current_lower_band %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.current_upper_band %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">boilinger({{ bot_info.boilinger_timeperiod }}, {{ bot_info.boilinger_nbdev }}) upper band: {{ bot_info.bot_technical_analysis.current_upper_band | round(2) }}<br>boilinger({{ bot_info.boilinger_timeperiod }}, {{ bot_info.boilinger_nbdev }}) lower band: {{ bot_info.bot_technical_analysis.current_lower_band | round(2) }}</p>

                                {% if bot_info.bot_technical_analysis.current_stoch_k > bot_info.bot_technical_analysis.avg_stoch_k and bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-success m-0 p-0">stoch_k and close positive divergention</p>
                                {% elif bot_info.bot_technical_analysis.current_stoch_k < bot_info.bot_technical_analysis.avg_stoch_k and bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.avg_close %}
                                    <p class="text-danger m-0 p-0">stoch_k and close negative divergention</p>
                                {% endif %}

                                <p class="text-muted m-0 p-0">Stochastic Oscilator:</p>
                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_stoch_k > bot_info.bot_technical_analysis.current_stoch_d %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_stoch_k < bot_info.bot_technical_analysis.current_stoch_d %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">stoch_k({{ bot_info.stoch_k_timeperiod }}, {{ bot_info.stoch_d_timeperiod }}): {{ bot_info.bot_technical_analysis.current_stoch_k | round(2) }}</p>

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.avg_stoch_k > bot_info.bot_technical_analysis.avg_stoch_d %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_stoch_k < bot_info.bot_technical_analysis.avg_stoch_d %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_stoch_k({{ bot_info.avg_stoch_period }}): {{ bot_info.bot_technical_analysis.avg_stoch_k | round(2) }}</p>

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_stoch_k < bot_info.bot_technical_analysis.current_stoch_d %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_stoch_k > bot_info.bot_technical_analysis.current_stoch_d %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">stoch_d({{ bot_info.stoch_k_timeperiod }}, {{ bot_info.stoch_d_timeperiod }}): {{ bot_info.bot_technical_analysis.current_stoch_d | round(2) }}</p>

                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_stoch_d < bot_info.bot_technical_analysis.avg_stoch_d %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_stoch_d > bot_info.bot_technical_analysis.avg_stoch_d %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_stoch_d({{ bot_info.avg_stoch_period }}): {{ bot_info.bot_technical_analysis.avg_stoch_d | round(2) }}</p>

                                {% if bot_info.bot_technical_analysis.avg_stoch_k < bot_info.bot_technical_analysis.avg_stoch_d and bot_info.bot_technical_analysis.current_stoch_k > bot_info.bot_technical_analysis.current_stoch_d %}
                                    <p class="text-success m-0 p-0 border-bottom">stoch_k and stoch_d positive cross</p>
                                {% elif bot_info.bot_technical_analysis.current_stoch_k > bot_info.bot_technical_analysis.avg_stoch_d and bot_info.bot_technical_analysis.current_stoch_k < bot_info.bot_technical_analysis.current_stoch_d %}
                                    <p class="text-danger m-0 p-0 border-bottom">stoch_k and stoch_d negative cross</p>
                                {% endif %}

                                <p class="text-muted m-0 p-0">Stochastic RSI Oscilator:</p>
                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_stoch_rsi < bot_info.stoch_buy %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_stoch_rsi > bot_info.stoch_sell %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">stoch_rsi({{ bot_info.stoch_rsi_timeperiod }}): {{ bot_info.bot_technical_analysis.current_stoch_rsi | round(2) }}</p>
                                
                                    <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_stoch_rsi > bot_info.bot_technical_analysis.avg_stoch_rsi_k %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_stoch_rsi < bot_info.bot_technical_analysis.avg_stoch_rsi_k %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_stoch_rsi_k({{ bot_info.stoch_rsi_k_timeperiod }}, {{ bot_info.stoch_rsi_d_timeperiod }}): {{ bot_info.bot_technical_analysis.current_stoch_rsi_k | round(2) }}</p>
        
                                <p class="text-muted m-0 p-0">ATR Average True Range:</p>
                                {% if bot_info.bot_technical_analysis.current_atr > bot_info.bot_technical_analysis.avg_atr %}
                                    <p class="text-success m-0 p-0">atr > avg_atr</p>
                                {% elif bot_info.bot_technical_analysis.current_atr < bot_info.bot_technical_analysis.avg_atr %}
                                    <p class="text-danger m-0 p-0">atr < avg_atr</p>
                                {% endif %}
                                
                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_atr > bot_info.atr_buy_treshold %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_atr < bot_info.atr_buy_treshold %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">atr({{ bot_info.atr_timeperiod }}): {{ bot_info.bot_technical_analysis.current_atr | round(2) }}</p>
                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.avg_atr > bot_info.atr_buy_treshold %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_atr < bot_info.atr_buy_treshold %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_atr({{ bot_info.avg_atr_period }}): {{ bot_info.bot_technical_analysis.avg_atr | round(2) }}</p>

                                <p class="text-muted m-0 p-0">PSAR Parabolic Stop and Reverse:</p>
                                {% if bot_info.bot_technical_analysis.current_psar > bot_info.bot_technical_analysis.avg_psar %}
                                    <p class="text-success m-0 p-0">psar > avg_psar</p>
                                {% elif bot_info.bot_technical_analysis.current_psar < bot_info.bot_technical_analysis.avg_psar %}
                                    <p class="text-danger m-0 p-0">psar < avg_psar</p>
                                {% endif %}    

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.current_psar %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.current_psar %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">psar({{ bot_info.psar_acceleration }}, {{ bot_info.psar_maximum }}): {{ bot_info.bot_technical_analysis.current_psar | round(2) }}</p>

                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.avg_psar %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.avg_psar %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_psar({{ bot_info.avg_psar_period }}): {{ bot_info.bot_technical_analysis.avg_psar | round(2) }}</p>
                                
                                <p class="text-muted m-0 p-0">VWAP Volume Weighted Average Price:</p>
                                {% if bot_info.bot_technical_analysis.current_vwap > bot_info.bot_technical_analysis.avg_vwap %}
                                    <p class="text-success m-0 p-0">vwap > avg_vwap</p>
                                {% elif bot_info.bot_technical_analysis.current_vwap < bot_info.bot_technical_analysis.avg_vwap %}
                                    <p class="text-danger m-0 p-0">vwap < avg_vwap</p>
                                {% endif %} 

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.current_vwap %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.current_vwap %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">vwap: {{ bot_info.bot_technical_analysis.current_vwap | round(2) }}</p>

                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_close > bot_info.bot_technical_analysis.avg_vwap %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_close < bot_info.bot_technical_analysis.avg_vwap %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_vwap({{ bot_info.avg_vwap_period }}): {{ bot_info.bot_technical_analysis.avg_vwap | round(2) }}</p>

                                <p class="text-muted m-0 p-0">ADX Average Directional Index:</p>
                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.current_adx > bot_info.adx_strong_trend %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_adx < bot_info.adx_no_trend %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">adx({{ bot_info.adx_timeperiod }}): {{ bot_info.bot_technical_analysis.current_adx | round(2) }}</p>

                                <p class="text-muted m-0 p-0">Plus DI Positive Directional Indicator:</p>
                                {% if bot_info.bot_technical_analysis.current_plus_di > bot_info.bot_technical_analysis.avg_plus_di %}
                                    <p class="text-success m-0 p-0">plus_di > avg_plus_di</p>
                                {% elif bot_info.bot_technical_analysis.current_plus_di < bot_info.bot_technical_analysis.avg_plus_di %}
                                    <p class="text-danger m-0 p-0">plus_di < avg_plus_di</p>
                                {% endif %} 

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_plus_di > bot_info.bot_technical_analysis.current_minus_di %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_plus_di < bot_info.bot_technical_analysis.current_minus_di %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">plus_di({{ bot_info.di_timeperiod }}): {{ bot_info.bot_technical_analysis.current_plus_di | round(2) }}</p>

                                <p class="m-0 p-0 border-bottom
                                    {% if bot_info.bot_technical_analysis.avg_plus_di > bot_info.bot_technical_analysis.avg_minus_di %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_plus_di < bot_info.bot_technical_analysis.avg_minus_di %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_plus_di({{ bot_info.avg_di_period }}): {{ bot_info.bot_technical_analysis.avg_plus_di | round(2) }}</p>
                                    
                                <p class="text-muted m-0 p-0">Minus DI Negative Directional Indicator:</p>
                                {% if bot_info.bot_technical_analysis.current_minus_di > bot_info.bot_technical_analysis.avg_minus_di %}
                                    <p class="text-success m-0 p-0">minus_di > avg_minus_di</p>
                                {% elif bot_info.bot_technical_analysis.current_minus_di < bot_info.bot_technical_analysis.avg_minus_di %}
                                    <p class="text-danger m-0 p-0">minus_di < avg_minus_di</p>
                                {% endif %} 

                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.current_plus_di > bot_info.bot_technical_analysis.current_minus_di %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.current_plus_di < bot_info.bot_technical_analysis.current_minus_di %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">minus_di({{ bot_info.di_timeperiod }}): {{ bot_info.bot_technical_analysis.current_minus_di | round(2) }}</p>
                                
                                <p class="m-0 p-0
                                    {% if bot_info.bot_technical_analysis.avg_plus_di > bot_info.bot_technical_analysis.avg_minus_di %}
                                        text-success
                                    {% elif bot_info.bot_technical_analysis.avg_plus_di < bot_info.bot_technical_analysis.avg_minus_di %}
                                        text-danger
                                    {% else %}
                                        text-muted
                                    {% endif %}">avg_minus_di({{ bot_info.avg_di_period }}): {{ bot_info.bot_technical_analysis.avg_minus_di | round(2) }}</p>                                
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                    <p class="mb-1">Nothing here.<br>No bots.<br>Nothing to analyse.<br>Boring...<br>Lets create some bots!</p>
                </div>
            </div>    
        {% endif %}
        </div>

        <div class="col-12 col-md-6 card mb-3">
            <div class="card-header text-center bg-light">
                <h5>Options</h5>
            </div>
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">    
                    <a href="{{ url_for('main.analysis_panel_view') }}" class="btn btn-primary w-100">Refresh</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 card mb-3">
            <div class="card-header text-center bg-light">
                <h5>Navigation</h5>
            </div>
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                    <a href="/control" class="btn btn-primary w-100">Control Panel</a>
                    <a href="/trades" class="btn btn-primary w-100">Trades History</a>
                    <a href="/backtest" class="btn btn-primary w-100">Backtest Panel</a>
                    <a href="/" class="btn btn-primary w-100">User Panel</a>
                    {% if user.admin_panel_access %}
                        <a href="/admin" class="btn btn-primary w-100">Admin Panel</a>
                    {% endif %}
                    <a href="{{ url_for('main.logout') }}" class="btn btn-danger w-100">Logout</a>
                </div>
            </div>
        </div>

        <footer class="col-md-6 text-center mb-3">
            <p class="text-muted">
                <a href="mailto:StefanCryptoTradingBot@gmail.com">StefanCryptoTradingBot@gmail.com</a>
            </p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>