<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StefanCryptoTradingBot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center mt-3">

        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-3" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <h4 class="col-md-6 card-header text-center">StefanCryptoTradingBot</h4>
        <p class="text-muted text-center m-0 p-0">current time: {{ date_and_time }}</p>

        {% if current_user.is_authenticated %}
            <p class="text-center text-muted m-0 p-0">{{ current_user.login }} logged in at {{ current_user.last_login }}</p>
        {% endif %}
        
        <div class="col-12 col-md-6 card mt-3 mb-3">
            <div class="card-header text-center bg-light">
                <h5>Trades History</h5>
            </div>
            {% if all_bots %}
                <div class="card-body text-center">
                    <div class="accordion" id="botsAccordion">
            {% for single_bot in all_bots %}
            <div class="accordion-item">
                <div class="accordion-header d-flex justify-content-center" id="heading{{ single_bot.id }}">
                    <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ single_bot.id }}" aria-expanded="false" aria-controls="collapse{{ single_bot.id }}">
                        <p class="w-100 text-center m-0 p-0">Bot {{ single_bot.id }} {{ single_bot.strategy | upper }} {{ single_bot.symbol }}. Trades: {{ single_bot.bot_trades_history | count }}</p>
                    </button>
                </div>
                <div id="collapse{{ single_bot.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ single_bot.id }}" data-bs-parent="#botsAccordion">
                    <div class="accordion-body">

                        <p>{{ single_bot.strategy | upper }} {{ single_bot.symbol }}<br>Comment: {{ single_bot.comment }}<br>7 days period</p>

                        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                            {% if single_bot.bot_trades_history %}

                                {% if single_bot.plot_url %}
                                <img src="data:image/png;base64,{{ single_bot.plot_url }}" alt="Account balance" style="max-width: 100%; height: auto; max-height: 300px;">
                                {% endif %}

                                {% for trade in single_bot.bot_trades_history %}
                                {% set profit_percentage = ((trade.sell_price - trade.buy_price) / trade.buy_price) * 100 %}
                                <p class="{% if profit_percentage > 0 %}text-success{% elif profit_percentage < 0 %}text-danger{% else %}text-muted{% endif %} mb-1">db_id: {{ trade.id }} {{ trade.bot_settings.symbol }} {{ trade.strategy }}, algorithm {{ trade.bot_settings.algorithm }}<br>buy_timestamp: {{ trade.buy_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}<br>sell_timestamp: {{ trade.sell_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}<br>buy_price: ${{ '%.2f'|format(trade.buy_price) }} {{ trade.bot_settings.symbol[:-4] }}<br>sell_price: ${{ '%.2f'|format(trade.sell_price) }} {{ trade.bot_settings.symbol[:-4] }}<br>amount: {{ trade.amount }} {{ trade.bot_settings.symbol[:3] }}<br>balance: {{ trade.stablecoin_balance }} USDC<br>profit: {{ profit_percentage | round(2) }}%<br>price_rises_counter: {{ trade.price_rises_counter }}</p>
                                {% endfor %}
                            {% else %}
                                <p class="mb-1">List empty.<br>Boring...<br>Lets do some trades!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}        
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                    <p class="mb-1">Nothing here.<br>No bots.<br>Nothing to observe.<br>Boring...<br>Lets do some trades!</p>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

        <div class="col-12 col-md-6 card mb-3">
            <div class="card-header text-center bg-light">
                <h5>Options</h5>
            </div>
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">      
                    <a href="{{ url_for('main.refresh') }}" class="btn btn-primary w-100">Refresh</a>
                    {% if user.email_raports_receiver %}
                        <a href="{{ url_for('main.report') }}" class="btn btn-primary w-100">Email Report</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 card mb-3">
            <div class="card-header text-center bg-light">
                <h5>Navigation</h5>
            </div>
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                    <a href="/" class="btn btn-primary w-100">User Panel</a>
                    <a href="/control" class="btn btn-primary w-100">Control Panel</a>
                    <a href="/backtest" class="btn btn-primary w-100">Backtest Panel</a>
                    {% if user.admin_panel_access %}
                        <a href="/admin" class="btn btn-primary w-100">Admin Panel</a>
                    {% endif %}
                    <a href="{{ url_for('main.logout') }}" class="btn btn-danger w-100">Logout</a>
                </div>
            </div>
        </div>

        <footer class="col-md-6 text-center mb-3">
            <p class="text-muted">
                <a href="mailto:StefanCryptoTradingBot@gmail.com">StefanCryptoTradingBot@gmail.com</a>
            </p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>